<%= form.field_container :name do %>
  <%= form.label :name %>
  <%= form.field_hint :name %>
  <%= form.text_field :name, required: true, class: "fullwidth" %>
<% end %>

<%= form.field_container :required_product do %>
  <%= form.label :required_product %>
  <%= form.select :required_product_id,
              Spree::Product.with_kit_item_prices.map { |p| [p.name, p.id] },
              {},
              class: "custom-select fullwidth" %>
<% end %>

<%= form.field_container :description do %>
  <%= form.label :description %>
  <%= form.field_hint :description %>
  <%= form.text_area :description, class: "fullwidth" %>
<% end %>

<div class="clear"></div>
