<%= form_for :order, url: solidus_configurable_kits.populate_kit_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.variants_and_option_values_for(current_pricing_options).any? %>
      <div id="product-variants">
        <h6 class="product-section-title"><%= t('spree.variants') %></h6>
        <ul>
          <% @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
            <li>
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_for_options(current_pricing_options)&.money %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>

                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% @product.kit_requirements.each do |kit_requirement| %>
      <h2> <%= kit_requirement.name %> </h2>

      <% required_product = kit_requirement.required_product %>
      <% if required_product.variants.any? %>
        <% if kit_requirement.description.present? %>
          <p> <%= kit_requirement.description %> </p>
        <% end %>
          <%= label_tag "kit_variant_ids[#{kit_requirement.id}]" do %>
            Please choose a <%= kit_requirement.name %> <br>
            <%= select_tag "kit_variant_ids[#{kit_requirement.id}]",
                          options_for_select(
                            kit_requirement.required_product.variants_and_option_values_for(current_kit_pricing_options).map do |variant|
                              [
                                variant.kit_title(current_kit_pricing_options),
                                variant.id,
                                data: { price: variant.resilient_money_price(current_kit_pricing_options).to_d }
                              ]
                            end
                          ),
                          required: true,
                          include_blank: true,
                          class: "kit_variant_input" %>
          <% end %>
      <% else %>
        <%= hidden_field_tag "kit_variant_ids[#{kit_requirement.id}]",
          required_product.master.id,
          data: { price: required_product.resilient_money_price(current_kit_pricing_options).to_d },
          class: "kit_variant_input" %>
        <p>
          <%= kit_requirement.description %> <br>
          Includes a <%= kit_requirement.required_product.name %> as <%= kit_requirement.name %>
        </p>
      <% end %>
    <% end %>

    <% if @product.resilient_money_price(current_pricing_options) and !@product.price.nil? %>
      <div data-hook="product_price">

        <div id="product-price">
          <h6 class="product-section-title"><%= t('spree.price') %></h6>
          <div>
            <span class="price selling" itemprop="price" content="<%= @product.resilient_money_price(current_pricing_options).to_d.to_s %>">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
          </div>

          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="http://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
          <% end %>
        </div>

        <div class="add-to-cart">
          <%= number_field_tag :quantity, 1, class: 'title', min: 1 %>
          <%= button_tag class: 'large primary', id: 'add-to-cart-button', type: :submit do %>
            <%= t('spree.add_to_cart') %>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= t('spree.product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
