<% @product.kit_requirements.each do |kit_requirement| %>
  <h2> <%= kit_requirement.name %> </h2>

  <% required_product = kit_requirement.required_product %>
  <% if required_product.variants.any? %>
    <% if kit_requirement.description.present? %>
      <p> <%= kit_requirement.description %> </p>
    <% end %>
    <% kit_requirement.quantity.times do %>
      <%= label_tag 'kit_variants[]' do %>
        Please choose a <%= kit_requirement.name %> <br>
        <%= select_tag 'kit_variants[]',
                       options_from_collection_for_select(kit_requirement.required_product.variants, "id", "options_text"),
                       required: true,
                       include_blank: true %>
      <% end %>
    <% end %>
  <% else %>
    <% kit_requirement.quantity.times do %>
      <%= hidden_field_tag 'kit_variants[]', required_product.master.id %>
    <% end %>
    <p>
      <%= kit_requirement.description %> <br>
      Includes <%= pluralize(kit_requirement.quantity, kit_requirement.required_product.name, ) %> as <%= kit_requirement.name %>
    </p>
  <% end %>
<% end %>
